{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}
{% import 'macros/accordion.jinja2' as accordion %}

{% block title %}{{ titulo }}{% endblock %}

{% block custom_head %}
    <!-- traer css para diseño del botón help-->
    <link href="{{ url_for('static', filename='css/quill.css') }}" rel="stylesheet" type="text/css"/>
    <meta http-equiv="Content-Type" content="text/html">
{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {% if show_button_my_autorized %}
            {{ topbar.button('Autorizados de mis áreas', url_for('cid_procedimientos.list_active'), 'mdi:table-star') }}
        {% endif %}
        {% if show_button_list_all_autorized %}
            {{ topbar.button('Todos los autorizados', url_for('cid_procedimientos.list_authorized'), 'mdi:table-star') }}
        {% endif %}
        {% if show_button_list_owned %}
            {{ topbar.button('Propios', url_for('cid_procedimientos.list_owned'), 'mdi:table-heart') }}
        {% endif %}
        {% if current_user.can_admin('CID PROCEDIMIENTOS') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('cid_procedimientos.list_all_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('cid_procedimientos.list_all_active')) }}{% endif %}
        {% endif %}
        {% if current_user.can_insert('CID PROCEDIMIENTOS') %}
            {{ topbar.button_new('Nuevo Procedimiento', url_for('cid_procedimientos.new')) }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <!-- Filtros CidProcedimientos -->
        <div class="row">
            <div class="col">
                <form class="row g-1 mb-3" id="filtradorForm" onsubmit="filtrosCidProcedimientos.buscar(); return false;">
                    <div class="col-2">
                        <div class="form-floating">
                            <input id="filtroId" type="text" class="form-control" aria-label="Id">
                            <label for="filtroId">ID</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-floating">
                            <input id="filtroCodigo" type="text" class="form-control" aria-label="Codigo" style="text-transform: uppercase;">
                            <label for="filtroCodigo">Código</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-floating">
                            <input id="filtroTituloProcedimiento" type="text" class="form-control" aria-label="Procedimiento" style="text-transform: uppercase;">
                            <label for="filtroTituloProcedimiento">Procedimiento</label>
                        </div>
                    </div>
                    <div class="col-2 text-end">
                        <button title="Buscar" class="btn btn-primary btn-lg" onclick="filtrosCidProcedimientos.buscar(); return false;" id="button-buscar"><span class="iconify" data-icon="mdi:magnify"></span></button>
                        <button title="Limpiar" class="btn btn-warning btn-lg" type="reset" onclick="filtrosCidProcedimientos.limpiar();" id="button-limpiar"><span class="iconify" data-icon="mdi:broom"></span></button>
                    </div>
                </form>
            </div>
        </div>
        <!-- Datatable de procedimientos -->
        <table id="cid_procedimientos_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Código</th>
                    <th>Procedimiento</th>
                    <th>Fecha</th>
                    <th>Usuario</th>
                    <th>Seguimiento</th>
                    <th>Área</th>
                </tr>
            </thead>
        </table>
        {{ accordion.btn_help('boton_ayuda','offcanvasExample','mdi:help','btn-flotante')}}
        {{ accordion.container_help('offcanvasExample','p-descript')}}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <script src="/static/js/datatables-constructor.js"></script>
    <script src="/static/js/datatables-filtros.js"></script>
    <script>
        // DataTable Cid Procedimientos
        const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
        let configDTCidProcedimientos = constructorDataTable.config();
        configDTCidProcedimientos['ajax']['url'] = '/cid_procedimientos/datatable_json';
        configDTCidProcedimientos['ajax']['data'] = {{ filtros }};
        configDTCidProcedimientos['columns'] = [
            { data: 'detalle' },
            { data: 'codigo' },
            { data: 'titulo_procedimiento' },
            { data: 'fecha' },
            { data: 'usuario' },
            { data: 'seguimiento' },
            { data: 'cid_area' },
        ];
        configDTCidProcedimientos['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.id + '</a>';
                }
            },
            {
                targets: 2, // titulo_procedimiento
                data: null,
                render: function(data, type, row, meta) {
                    if (data.length > 64)
                        return '<span title="' + data + '">' + data.substr(0, 64) + '…' + '</span>';
                    return data;
                }
            },
            {
                targets: 4, // usuario
                data: null,
                render: function(data, type, row, meta) {
                    if (data.nombre.length > 16) {
                        interior = '<span title="' + data.nombre + '">' + data.nombre.substring(0, 16) + '…' + '</span>';
                    } else {
                        interior = data.nombre;
                    }
                    if (data.url == '') {
                        return interior;
                    }
                    return '<a href="' + data.url + '">' + interior + '</a>';
                }
            },
            {
                targets: 6, // cid_area
                data: null,
                render: function(data, type, row, meta) {
                    if (data.url == '') {
                        return data.clave;
                    }
                    return '<a href="' + data.url + '">' + data.clave + '</a>';
                }
            },
        ];
        // Filtros Cid Procedimientos
        const filtrosCidProcedimientos = new FiltrosDataTable('#cid_procedimientos_datatable', configDTCidProcedimientos);
        filtrosCidProcedimientos.agregarInput('filtroId', 'cid_procedmiento_id');
        filtrosCidProcedimientos.agregarInput('filtroCodigo', 'codigo');
        filtrosCidProcedimientos.agregarInput('filtroTituloProcedimiento', 'titulo_procedimiento');
        filtrosCidProcedimientos.precargar();
    </script>
    <!-- Botón de ayuda -->
    <script>
       $("#boton_ayuda").click(function(){
            const archivo = "../../../dcos/fin_vales.md";
            $.ajax({
                url:archivo,
                type: "GET",
                crossDomain: true,
                dataType: 'json',
                success: function(data){
                    console.log(data);
                    $("#offcanvasEdit").prepend(`
                    <div class="offcanvas-header offcanvas-bg">
                        <h5 class="offcanvas-title" id="siderbar-label">`+ data.titulo +`</h5>
                        <button class="btn-close" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        
                    </div><p class="p-descript">`+ data.descripcion +`</p>`);
                    let status = "show";
                    let expanded = "true";
                    let collapsed = "";
                    $("#accordion_container").html('<div class="accordion" id="accordionHelp">');
                    console.log(data.secciones)
                    data.secciones.map(function(seccion){
                        $("#accordionHelp").append(`
                             <div class="accordion-item">
                                <h2 class="accordion-header accordion-color" id="heading_`+ seccion.id +`">
                                    <button class="accordion-button fw-bolder `+ collapsed +`" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_`+ seccion.id +`" aria-controls="collapse_`+ seccion.id +`" aria-expanded="`+ expanded +`">
                                        `+ seccion.subtitulo +`
                                    </button>
                                </h2>
                                <div id="collapse_`+ seccion.id +`" class="accordion-collapse collapse `+ status +`" aria-labelledby="heading_`+ seccion.id +`" data-bs-parent="#accordionHelp">
                                    <div class="accordion-body help-body">
                                        `+ seccion.descripcion +`
                                    </div>
                                </div>
                            </div> 
                        `);
                        status = "";
                        expanded = "false";
                        collapsed = "collapsed";
                    });
                    $("accordion_container").html('</div>');

                },
                error: function(data){
                    console.log(data);
                }
            });
        });
    </script>
{% endblock %}
