{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}
{% import 'macros/accordion.jinja2' as accordion %}

{% block title %}Editar Ticket{% endblock %}

{% block custom_head %}
    <!-- traer css para diseño del botón help-->
    <link href="{{ url_for('static', filename='css/quill.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Editar Ticket ' + soporte_ticket.id | string) }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'soporte_ticket_id': soporte_ticket.id} %}
        {% call f.form_tag('soportes_tickets.edit', fid='soporte_ticket_form', **form_kwargs) %}
            {% call f.form_group(form.usuario, readonly=true) %}{% endcall %}
            {% call f.form_group(form.descripcion, rows=6) %}{% endcall %}
            {% call f.form_group(form.categoria, readonly=true) %}{% endcall %}
            {% call f.form_group(form.tecnico, readonly=true) %}{% endcall %}
            {% call f.form_group(form.departamento, readonly=true) %}{% endcall %}
            {% call f.form_group(form.estado, readonly=true) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
        {{ accordion.btn_help('boton_ayuda','offcanvasEdit','mdi:help','btn-flotante')}}
        {{ accordion.container_help('offcanvasEdit','p-descript')}} 
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <script>
       $("#boton_ayuda").click(function(){
            const archivo = "/static/json/help/tickets_help.json";
            $.ajax({
                url:archivo,
                type: "GET",
                crossDomain: true,
                dataType: 'json',
                success: function(data){
                    console.log(data);
                    $("#offcanvasEdit").prepend(`
                    <div class="offcanvas-header offcanvas-bg">
                        <h5 class="offcanvas-title" id="siderbar-label">`+ data.titulo +`</h5>
                        <button class="btn-close" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        
                    </div><p class="p-descript">`+ data.descripcion +`</p>`);
                    let status = "show";
                    let expanded = "true";
                    let collapsed = "";
                    $("#accordion_container").html('<div class="accordion" id="accordionHelp">');
                    data.secciones.map(function(seccion){
                        $("#accordionHelp").append(`
                             <div class="accordion-item">
                                <h2 class="accordion-header accordion-color" id="heading_`+ seccion.id +`">
                                    <button class="accordion-button fw-bolder `+ collapsed +`" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_`+ seccion.id +`" aria-controls="collapse_`+ seccion.id +`" aria-expanded="`+ expanded +`">
                                        `+ seccion.subtitulo +`
                                    </button>
                                </h2>
                                <div id="collapse_`+ seccion.id +`" class="accordion-collapse collapse `+ status +`" aria-labelledby="heading_`+ seccion.id +`" data-bs-parent="#accordionHelp">
                                    <div class="accordion-body help-body">
                                        `+ seccion.descripcion +`
                                    </div>
                                </div>
                            </div> 
                        `);
                        status = "";
                        expanded = "false";
                        collapsed = "collapsed";
                    });
                    $("accordion_container").html('</div>');

                },
                error: function(data){
                    console.log(data);
                }
            });
        });
    </script>
{% endblock %}